button,
[role='button'] {
  --button-background: 'transparent';
  --button-foreground: var(--palette-foreground);

  --button-border: var(--palette-border);

  --padding-vertical: 0.25rem;
  --padding-horizontal: 0.5rem;

  font-weight: normal;
  font-size: var(--font-size);
  font-family: var(--font-face);
  text-align: center;
  letter-spacing: 0.08rem;

  cursor: pointer;

  color: var(--button-foreground);
  background-color: var(--button-background);

  padding: var(--padding-vertical) var(--padding-horizontal);

  border: 1px solid var(--button-border);
  border-radius: 0.25rem;

  transition: all 0.1s ease-in-out;

  &:hover:not(:disabled) {
    --button-foreground: var(--palette-primary-contrast);

    @media (prefers-color-scheme: dark) {
      --button-background: var(--palette-primary-dark);
    }

    @media (prefers-color-scheme: light) {
      --button-background: var(--palette-primary);
    }

    --button-border: var(--palette-primary);

    text-decoration: none;
  }

  &:disabled {
    opacity: 0.5;

    &:hover {
      cursor: not-allowed;
    }
  }
}

[role="group"] {
  &>button:not(:first-of-type) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &>button:not(:last-of-type) {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}