dialog {
  --padding-vertical: 2rem;
  --padding-horizontal: 2rem;

  display: block;

  position: fixed;
  top: -100px;
  bottom: 0;

  pointer-events: none;

  opacity: 0;
  transition: all 0.2s ease-out;

  padding: 0;

  font-size: var(--font-size);
  font-family: var(--font-face);

  max-width: 70vw;
  min-width: 650px;

  background-color: var(--palette-background);
  color: var(--palette-foreground);

  border-radius: 0.5rem;
  border: 1px solid var(--palette-border);

  padding: var(--padding-vertical) var(--padding-horizontal);

  &[open] {
    pointer-events: inherit;

    opacity: 1;

    top: 0;
  }

  &::backdrop {
    background-color: fade(@black, 50%);
  }

  header {
    --padding-vertical: 0;
    --padding-horizontal: 0;

    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    white-space: nowrap;

    color: var(--palette-foreground);
    background-color: inherit;
    border: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &>h1,
    &>h2,
    &>h3,
    &>h4,
    &>h5,
    &>h6 {
      margin: 0;
    }

    &>button {
      --padding-vertical: 0.25rem;
      --padding-horizontal: 0.5rem;

      border: none;
    }
  }

  footer {
    --padding-vertical: 0;
    --padding-horizontal: 0;

    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top: none;

    text-align: right;

    &>button {
      --padding-vertical: 0.25rem;
      --padding-horizontal: 0.5rem;

      border: none;
    }
  }
}