header,
footer {
  --padding-vertical: 3rem;
  --padding-horizontal: 3rem;

  padding: var(--padding-vertical) var(--padding-horizontal);

  background-color: var(--palette-background-dark);
}

header {
  color: var(--palette-primary-contrast);
  background-color: var(--palette-primary-dark);
}

main {
  --padding-vertical: 3rem;
  --padding-horizontal: 3rem;

  padding: var(--padding-vertical) var(--padding-horizontal);
}

article {
  --padding-vertical: 1.5rem;
  --padding-horizontal: 1.5rem;

  --margin-vertical: 1.5rem;

  padding: var(--padding-vertical) var(--padding-horizontal);
  margin-bottom: var(--margin-vertical);

  box-shadow: var(--elevation);

  border-radius: 0.125rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
