header,
footer {
  --padding-vertical: 2rem;
  --padding-horizontal: 3rem;

  padding: var(--padding-vertical) var(--padding-horizontal);
}

header {
  --header-foreground: var(--palette-foreground);

  @media (prefers-color-scheme: dark) {
    --header-background: var(--palette-background-light);
  }

  @media (prefers-color-scheme: light) {
    --header-background: var(--palette-background-dark);
  }

  color: var(--header-foreground);
  background-color: var(--header-background);

  &>h1, &>h2, &>h3, &>h4, &>h5, &>h6 {
    margin: 0
  }
}

footer {
  border-top: 1px solid var(--palette-background-dark);
  text-align: center;
}

main {
  --padding-vertical: 2rem;
  --padding-horizontal: 3rem;

  padding: var(--padding-vertical) var(--padding-horizontal);
}

article {

  @media (prefers-color-scheme: dark) {
    --article-border: var(--palette-border);
  }
  
  @media (prefers-color-scheme: light) {
    --article-border: var(--palette-border);
  }


  --padding-vertical: 0.75rem;
  --padding-horizontal: 1rem;

  --margin-vertical: 1.5rem;

  padding: var(--padding-vertical) var(--padding-horizontal);
  margin-bottom: var(--margin-vertical);

  background-color: var(--article-background);

  border-radius: 0.5rem;
  border: 1px solid var(--article-border);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
