a {
  color: var(--palette-primary);
  text-decoration: none;

  transition: all 0.1s ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}

code {
  --padding-vertical: 0;
  --padding-horizontal: 0.5rem;

  padding: var(--padding-vertical) var(--padding-horizontal);

  background-color: var(--palette-background-dark);
}

blockquote {
  --padding-vertical: 0;
  --padding-horizontal: 1.5rem;

  margin: 0;
  padding: var(--padding-vertical) var(--padding-horizontal);

  border-left: 4px solid var(--palette-border);

  cite {
    display: block;

    color: var(--palette-foreground-light);
  }
}
