@white: rgb(252, 253, 255);
@black: rgb(32, 32, 42);
@primary: rgb(25, 118, 210);

:root {
  color-scheme: light dark;

  --white-light: lighten(@white, 10%);
  --white: @white;
  --white-dark: desaturate(darken(@white, 7%), 100%);

  --black-light: lighten(@black, 10%);
  --black: @black;
  --black-dark: darken(@black, 6.5%);

  --font-size: 1rem;
  --font-face: 'Noto Sans', sans-serif;

  --padding-vertical: 0.5rem;
  --padding-horizontal: 0.75rem;

  --margin-vertical: 0.25rem;
  --margin-horizontal: 0.5rem;

  --elevation: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  --max-body-width: 100%;

  @media (prefers-color-scheme: dark) {
    --palette-foreground-light: var(--white-light);
    --palette-foreground: var(--white);
    --palette-foreground-dark: var(--white-dark);

    --palette-background-light: var(--black-light);
    --palette-background: var(--black);
    --palette-background-dark: var(--black-dark);

    --palette-primary-light: lighten(@primary, 10%);
    --palette-primary: @primary;
    --palette-primary-dark: darken(@primary, 10%);

    --palette-primary-contrast: var(--white);

    --palette-border: fade(@white, 10%);
  }

  @media (prefers-color-scheme: light) {
    --palette-foreground-light: var(--black-light);
    --palette-foreground: var(--black);
    --palette-foreground-dark: var(--black-dark);

    --palette-background-light: var(--white-light);
    --palette-background: var(--white);
    --palette-background-dark: var(--white-dark);

    --palette-primary-light: lighten(@primary, 10%);
    --palette-primary: @primary;
    --palette-primary-dark: darken(@primary, 10%);

    --palette-primary-contrast: var(--white);

    --palette-border: fade(@black, 32%);
  }
}
